<div class="user_option">
    <a href="{% url 'profile' %}" class="user_link">
        <i class="fa fa-user"></i>
    </a>
    
    <a class="cart_link" href="{% url 'cart' %}">
        <!-- SVG for cart icon -->
    </a>
    <form class="form-inline" action="{% url 'search' %}" method="get">
        <button class="btn my-2 my-sm-0 nav_search-btn" type="submit">
            <i class="fa fa-search"></i>
        </button>
    </form>
    <a href="{% url 'order_online' %}" class="order_online">Order Online</a>
</div>