<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <!-- Basic Metas and Styles -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="">
    <title>{% block title %}Feane{% endblock title %}</title>

    <!-- CSS and Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
    <!-- Corrected CSS Links -->
    <link rel="stylesheet" href="{% static 'assets/css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/typing.css' %}">

</head>

<body class="sub_page">
    <!-- Chat with Us (Chatbot Room) -->
    <!-- Chat with Us (Chatbot Room) -->
    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="{% static 'images/image.png' %}" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Chat support</h4>
                        <p class="chatbox__description--header">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div>
                        <div class="messages__item messages__item--visitor">
                            Can you let me talk to the support?
                        </div>
                        <div class="messages__item messages__item--operator">
                            Sure!
                        </div>
                        <div class="messages__item messages__item--visitor">
                            Need your help, I need a developer on my site.
                        </div>
                        <div class="messages__item messages__item--operator">
                            Hi... What is it? I'm a front-end developer, yay!
                        </div>
                        <div class="messages__item messages__item--typing">
                            <span class="messages__dot"></span>
                            <span class="messages__dot"></span>
                            <span class="messages__dot"></span>
                        </div>
                    </div>
                </div>
                <div class="chatbox__footer">
                    <img src="{% static 'images/icons/emojis.svg' %}" alt="">
                    <img src="{% static 'images/icons/microphone.svg' %}" alt="">
                    <input type="text" placeholder="Write a message...">
                    <p class="chatbox__send--footer">Send</p>
                    <img src="{% static 'images/icons/attachment.svg' %}" alt="">
                </div>
            </div>
            <div class="chatbox__button">
                <button>button</button>
            </div>
        </div>
    </div>
    
    
    <div class="hero_area">
        <div class="bg-box">
            <img src="{% static 'images/hero-bg.jpg' %}" alt="">
        </div>
        <!-- Header section -->
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <span>Feane</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                        <span class=""> </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'menu' %}">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about' %}">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'book_table' %}">Book Table</a>
                            </li>
                        </ul>
                        <div class="user_option">
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- End header section -->
    </div>

    <!-- Content block -->
    {% block content %}
    {% endblock content %}

    <!-- Footer section -->
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4>Contact Us</h4>
                        <div class="contact_link_box">
                            <a href="#"><i class="fa fa-map-marker"></i><span>Location</span></a>
                            <a href="#"><i class="fa fa-phone"></i><span>Call +01 1234567890</span></a>
                            <a href="#"><i class="fa fa-envelope"></i><span>demo@gmail.com</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a href="#" class="footer-logo">Feane</a>
                        <p>Necessary, making this the first true generator on the Internet...</p>
                        <div class="footer_social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4>Opening Hours</h4>
                    <p>Everyday</p>
                    <p>10.00 AM - 10.00 PM</p>
                </div>
            </div>
            <div class="footer-info">
                <p>&copy; <span id="displayYear"></span> All Rights Reserved By <a href="https://html.design/">Free Html Templates</a></p>
                <p>&copy; <span id="displayYear"></span> Distributed By <a href="https://themewagon.com/" target="_blank">ThemeWagon</a></p>
            </div>
        </div>
    </footer>
    <!-- End footer section -->

    <!-- Scripts -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <!-- Corrected JS Links -->
    <script src="{% static 'assets/js/Chat.js' %}"></script>
    <script src="{% static 'app.js' %}"></script>
    

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const chatButton = document.querySelector('.chatbox__button');
            const chatContent = document.querySelector('.chatbox__support');
            
            const icons = {
                isClicked: '<img src="{% static 'images/icons/chatbox-icon.svg' %}" />',
                isNotClicked: '<img src="{% static 'images/icons/chatbox-icon.svg' %}" />'
            };
    
            class InteractiveChatbox {
                constructor(button, content, icons) {
                    this.button = button;
                    this.content = content;
                    this.icons = icons;
                    this.isOpen = false;
    
                    this.button.addEventListener('click', () => this.toggle());
                }
    
                display() {
                    this.content.style.display = this.isOpen ? 'block' : 'none';
                }
    
                toggle() {
                    this.isOpen = !this.isOpen;
                    this.display();
                    this.toggleIcon(this.isOpen, this.button);
                }
    
                toggleIcon(isOpen, button) {
                    button.innerHTML = isOpen ? this.icons.isClicked : this.icons.isNotClicked;
                }
            }
    
            const chatbox = new InteractiveChatbox(chatButton, chatContent, icons);
            chatbox.display();
            chatbox.toggleIcon(false, chatButton);
        });
    </script>

  
<div
data-avatar-background="#222831"
data-primary="#222831"
data-primary-highlight="#222831"
data-root-element-id="storybook-preview-wrapper"
data-websocket-url="ws://http://51.20.83.172:5005/"
id="rasa-chat-widget"
/>
<script src="https://unpkg.com/@rasahq/rasa-chat" type="application/javascript"></script>
</body>
</html>
