<!DOCTYPE html>
<html>
  {% load static%}
<head>
  <!-- Basic Meta Tags -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- SEO Meta Tags -->
  <meta name="keywords" content="restaurant, fast food, dining, food delivery, online ordering" />
  <meta name="description" content="Biddy - A modern fast food restaurant offering online ordering and table booking services." />
  <meta name="author" content="Biddy Restaurant" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

  <!-- Title -->
  <title>Biddy | Modern Fast Food Restaurant</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'order_food/css/bootstrap.css' %}" />

  <!-- Owl Carousel Stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- Nice Select Stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />

  <!-- Font Awesome Stylesheet -->
  <link href="{% static 'order_food/css/font-awesome.min.css' %}" rel="stylesheet" />

  <!-- Custom Styles for This Template -->
  <link href="{% static 'order_food/css/style.css' %}" rel="stylesheet" />

  <!-- Responsive Styles -->
  <link href="{% static 'order_food/css/responsive.css' %}" rel="stylesheet" />
</head>


<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'order_food/images/hero-bg.jpg' %}" alt="Hero Background">
    </div>
    <!-- header section starts -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="{% url 'home' %}">
            <span>Biddy</span>
          </a>
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'menu' %}">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'book_table' %}">Book Table <span class="sr-only">(current)</span></a>
              </li>
            </ul>
            <div class="user_option">
              <a href="#" class="user_link">
                <i class="fa fa-user" aria-hidden="true"></i>
              </a>
              <a class="cart_link" href="#">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                  <!-- SVG content -->
                </svg>
              </a>
              <form class="form-inline">
                <button class="btn my-2 my-sm-0 nav_search-btn" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form>
              <a href="#" class="order_online">
                Order Online
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>
  

<!-- book section -->
<section class="book_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Book A Table
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
          <!-- Form action should point to the Django view that handles the booking -->
          <form method="POST" action="{% url 'book_table' %}">
            {% csrf_token %}
            <div>
              <input type="text" name="name" class="form-control" placeholder="Your Name" required />
            </div>
            <div>
              <input type="text" name="phone_number" class="form-control" placeholder="Phone Number" required />
            </div>
            <div>
              <input type="email" name="email" class="form-control" placeholder="Your Email" required />
            </div>
            <div>
              <select name="number_of_persons" class="form-control nice-select wide" required>
                <option value="" disabled selected>
                  How many persons?
                </option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <div>
              <input type="date" name="date" class="form-control" required>
            </div>
            <div class="btn_box">
              <button type="submit">
                Book Now
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="map_container">
          <div id="googleMap"></div>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- end book section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>Contact Us</h4>
            <div class="contact_link_box">
              <a href="#">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>Location</span>
              </a>
              <a href="tel:+011234567890">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>Call +01 1234567890</span>
              </a>
              <a href="mailto:demo@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>demo@gmail.com</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="{% url 'home' %}" class="footer-logo">Biddy</a>
            <p>
              Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
            </p>
            <div class="footer_social">
              <a href="https://www.facebook.com/yourprofile" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://www.twitter.com/yourprofile" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/yourprofile" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/yourprofile" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="https://www.pinterest.com/yourprofile" target="_blank">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>Opening Hours</h4>
          <p>Everyday</p>
          <p>10:00 AM - 10:00 PM</p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear">{{ current_year }}</span> All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a><br><br>
          &copy; <span id="displayYear">{{ current_year }}</span> Distributed By
          <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
        </p>
      </div>
    </div>
  </footer>
  
  <script type="text/javascript">
    document.getElementById("displayYear").innerHTML = new Date().getFullYear();
  </script>
  
  <!-- footer section -->

<!-- jQuery -->
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<!-- Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- Owl Carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- Isotope JS -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<!-- Nice Select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<!-- Custom JS -->
<script src="{% static 'js/custom.js' %}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
<!-- End Google Map -->

</body>

</html>