setuptools
argcomplete
asgiref
attrs
beautifulsoup4
certifi
chardet
charset-normalizer
colorama
commitizen
cssselect2
decli
decouple
Django
django-classy-tags
django-cms
django-entangled
django-filer
django-formtools
django-fsm
django-parler
django-polymorphic
django-sekizai
django-treebeard
djangocms-admin-style
djangocms-alias
djangocms-attributes-field
djangocms-file
djangocms-frontend
djangocms-googlemap
djangocms-picture
djangocms-snippet
djangocms-style
djangocms-text-ckeditor
djangocms-versioning
djangocms-video
easy-thumbnails
gunicorn
h11
html5lib
idna
iniconfig
Jinja2
lxml
MarkupSafe
numpy
outcome
packaging
pillow
pluggy
prompt-toolkit
psycopg2-binary
pydotmap
PySocks
pytest
python-decouple
python-dotenv
pyunsplash
PyYAML
questionary
reportlab
requests
selenium
six
sniffio
sortedcontainers
soupsieve
sqlparse
termcolor
tomlkit
trio
trio-websocket
typing_extensions
urllib3
wcwidth
webdriver-manager
webencodings
websocket-client
wsproto
